.CreateItem {
    min-height: calc(100vh - 57px);
    background-color: var(--section-color);
    padding: 40px 0;
}
.CreateItem h1 {
    color: var(--dark-color);
    margin: 15px 15px 40px;
    width: fit-content;
    padding-bottom: 14px;
    position: relative;
}
.CreateItem h1::before {
    content: "";
    width: 70%;
    background-color: #fff;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.CreateItem h1::after {
    content: "";
    width: 25%;
    background-color: var(--dark-color);
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.CreateItem .wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 0 20px;
}
.CreateItem .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.CreateItem .box h2 {
    margin: 0 0 10px;
    font-size: 23px;
    color: var(--dark-color);
}
.CreateItem .box form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.CreateItem .box form input,
.CreateItem .box form textarea {
    background-color: #eee;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.CreateItem .box form textarea {
    height: 115px;
    resize: none;
}
.CreateItem .box form input:focus,
.CreateItem .box form textarea:focus {
    border: 2px solid var(--dark-color);
}
.CreateItem .box form label {
    font-size: 15px;
    color: var(--gray-color);
    margin: 7px;
}
.CreateItem .box form select {
    padding: 15px;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 20px;
}
.CreateItem .infoMsg {
    background-color: #ffdbe3;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.CreateItem .infoMsg h2 {
    color: #cd1532;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.CreateItem .infoMsg div {
    background-color: #cd1532;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CreateItem .infoMsg div:hover {
    background-color: #bf1e37;
}
.CreateItem .box form button {
    display: block;
    width: fit-content;
    padding: 12px 19px;
    background-color: #009688;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}
.CreateItem .box form button:hover {
    background-color: transparent;
    border: 1px solid #009688;
    color: #009688;
}

@media (max-width: 767px) {
    .CreateItem .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}